<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8" />
        <link href="../styles/style.css" rel="stylesheet" />
        <title>Towns</title>
    </head>
    <body>
        <nav class="top-nav">
            <div class="nav-item"><a href="../index.html">Home</a></div>
            <div class="nav-item"><a href="./towns.html">Towns</a></div>
            <div class="nav-item"><a href="./photos.html">Picures</a></div>
            <div class="nav-item">
              <a href="./moreInfo.html">Request more info</a>
            </div>
          </nav>
          <main>
            <h1>Towns</h1>
            <ul>
                <li><a href="https://en.wikipedia.org/wiki/Adel,_Iowa" target="_blank">Adel</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Grimes,_Iowa" target="_blank">Grimes</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Waukee,_Iowa" target="_blank">Waukee</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Van_Meter,_Iowa" target="_blank">Van Meter</a></li>
                <li><a href="https://en.wikipedia.org/wiki/Perry,_Iowa" target="_blank">Perry</a></li>
            </ul>
          </main>
    </body>
</html>
